# 只在 main 分支触发整个流水线
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always     # main 上的提交：允许跑
    - when: never      # 其它分支 / MR：一律不跑

stages:
  - install
  - test
  - build
  - deploy

image: node:20

cache:
  paths:
    - node_modules/
    - .yarn/cache/

install:
  stage: install
  tags:
    - Upward-always
  script:
    - yarn install --frozen-lockfile
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 day

typecheck:
  stage: test
  tags:
    - Upward-always
  dependencies:
    - install
  script:
    - yarn typecheck

build:
  stage: build
  tags:
    - Upward-always
  dependencies:
    - install
  script:
    - yarn build
  artifacts:
    paths:
      - build/
    expire_in: 7 days

pages:
  stage: deploy
  tags:
    - Upward-always
  dependencies:
    - build
  script:
    - mv build public
  artifacts:
    paths:
      - public
  only:
    - main     # 可以留着，当双保险
